server:
  port: 8080

spring:
  application:
    name: notice-api
  
  web:
    cors:
      allowed-origins: 
        - http://localhost:5173
      allowed-methods: 
        - GET
        - POST
        - PUT
        - DELETE
        - OPTIONS
      allowed-headers: '*'
      allow-credentials: true